<p>Built with:</p>
<ul>
  <%= link_to "Forecast.io", "http://developer.forecast.io" %><br />
  <%= link_to "Nearest Time Zone", "https://github.com/buytruckload/nearest_time_zone"%><br />
  <%= link_to "View on Github", "https://github.com/evan-007/umbrellas" %><br />
</ul>
<%= link_to "Home", root_path %>