<div class="jumbotron">
<h1>Need an Umbrella today?</h1>
<%= form_tag('/report') do %>

	<%= label_tag(:location, "Where you at?") %>
	<%= text_field_tag(:location) %>
  <%= submit_tag "Go!", class: "btn btn-primary btn-lg" %>

<% end %>
</div>

 